.bodyStyle{
    margin: 20px 100px;
}
.UserTable{
    width: 100%;
}
.UserTable tr{
    border-bottom: 1px solid black;
    padding: 500px;
}
.UserTable td, .UserTable th{
    padding-top:15px;
    padding-bottom: 8px;
}

@media only screen and (max-width: 500px){
    .bodyStyle{
        margin: 20px 10px;
        overflow-x: scroll !important;
    }
    .UserTable tr td{
        padding-right: 20px !important;
    }
}